@import "~bootstrap/scss/bootstrap.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.font-poppins {
  font-family: "Poppins", sans-serif;
}

.font-Roboto {
  font-family: "Roboto", sans-serif;
}

html,
body,
#root,
.app {
  height: 100%;
}
body,
.app {
  position: relative;
}
.navbar {
  background-color: rgb(95, 191, 224) !important;
}

.main {
  padding-top: 10px;
  min-height: 100%;
  position: relative;
  padding-bottom: 50px !important;
}
.sosial-icon {
  max-width: 30px;
}
.skills {
  display: flex;
  flex-direction: row;
  align-items: center;
  hr {
    flex-grow: 1;
    margin-left: 10px;
  }
}
.list-group-item {
  border: none !important;
  padding-top: 2px !important;
}
.backmain::after {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  background-image: url("./assets/image/back.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.bannerfour {
  background-color: rgb(226, 242, 247);
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 500px;
}

.contentone {
  flex-grow: 5;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  max-width: 50%;
  padding: 20px;
}

.bg-second {
  background-color: rgb(226, 242, 247);
}

.text-second {
  color: rgb(95, 191, 224);
}
.contentwo {
  flex-grow: 5;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 40%;
  padding: 20px;
}

.contentone p {
  max-width: 60%;
}
.text-center {
  text-align: center;
}
.title {
  font-size: 66px;
  font-weight: 500;
}

.title-2 {
  font-size: 36px;
  font-weight: 500;
}

.subtitle {
  font-size: 16px;
  font-weight: 200;
  margin-top: 10px;
}

.btn {
  // margin-top: 15px;
  // background-color: rgb(95, 191, 224);
  width: 150px;
  font-weight: 700;
  color: white;
  padding: 10px;
  text-align: center;
  border-radius: 20px;
}

.imageone {
  flex-grow: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 50%;
}

.imageone img {
  max-height: 400px;
}
.bg-aqua {
  background-color: rgb(95, 191, 224);
}
.text-white {
  color: white;
}
.card {
  width: 18rem;
  margin-bottom: 10px;
  margin-top: 10px;
  cursor: pointer;
}

.img-card {
  flex-grow: 2;
  width: 200px;
}

.img-card img {
  max-height: 100px;
  width: 200px;
}

.title-card {
  padding-top: 5px;
  font-size: 20px;
  font-weight: 700;
}

.subtitle-card {
  padding-top: 5px;
  font-size: 14px;
}

.footer {
  padding: 10px;
  height: 50px;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  color: white;
  text-align: center;
  width: 100%;
  background-color: rgb(95, 191, 224);
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer div,
.footer a {
  line-height: 30px;
  text-align: center;
  font-weight: 500;
  margin-right: 10px;
  color: white;
}
.footer img {
  max-width: 30px;
}
.card-text {
  font-size: 12px !important;
}

.loading {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.grass {
  background-color: green !important;
}
.poison {
  background-color: purple !important;
}
.fire {
  background-color: red !important;
}
.flying {
  background-color: lightblue !important;
}
.earth {
  background-color: brown !important;
}
.normal {
  background-color: rgb(125, 123, 5) !important;
}
.bug {
  background-color: rgb(25, 255, 17) !important;
}
.viewmore {
  background-color: rgb(56, 196, 242);
  cursor: pointer;
  padding: 10px;
}
.stat {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.img-spirites {
  max-height: 100px !important;
  margin: 0 10px;
}
.pagination-container {
  max-height: 50px !important;
}

.row {
  margin-right: 0 !important;
}
@media only screen and (max-width: 600px) {
  .bannerone {
    height: 200px;
    flex-direction: column;
    margin-bottom: 10px;
  }

  .bannertwo {
    width: 100%;
    height: 200px;
  }

  .bannerthree {
    margin-bottom: 10px;
    flex-direction: column;
    align-items: center;
  }

  .bannerfour {
    background-color: rgb(226, 242, 247);
    width: 100%;
    height: fit-content;
  }

  .contentone {
    flex-grow: 1;
    flex-wrap: nowrap;
    align-items: center;
    max-width: 100%;
  }

  .contentwo {
    max-width: 80%;
  }
  .content-three {
    flex-grow: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 25%;
    margin-left: 20px;
  }
  .imageone {
    flex-grow: 0;
    max-width: 0;
    visibility: hidden;
  }

  .contentone p {
    max-width: 80%;
  }
  .text-center {
    text-align: center;
  }
  .title {
    font-size: 24px;
  }

  .title-2 {
    font-size: 14px;
  }

  .subtitle {
    font-size: 8px;
  }

  .img-thumbnail {
    width: 100% !important;
  }
  .btn {
    max-width: 100px !important;
  }
}

#notfound {
  position: relative;
  height: 100vh;
}

.notfound {
  max-width: 520px;
  width: 100%;
  line-height: 1.4;
  text-align: center;
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}


.notfound .notfound-404 {
  position: relative;
  height: 240px;
}

.notfound .notfound-404 h3 {
  font-family: 'Cabin', sans-serif;
  position: relative;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #262626;
  margin: 0px;
  letter-spacing: 3px;
  padding-left: 6px;
}
.notfound h3{
  font-family: 'Cabin', sans-serif;
  position: relative;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #262626;
  margin: 0px;
  letter-spacing: 3px;
  padding-left: 6px;
}

.notfound .notfound-404 h1 {
  font-size: 162px;
  height: 150px;
  line-height: 162px;
}

.notfound .notfound-404 h1 {
  font-family: 'Montserat', sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 252px;
  font-weight: 900;
  margin: 0px;
  color: #FAC53F;
  -webkit-text-stroke: 5px #1374b8;
  text-transform: uppercase;
  letter-spacing: -40px;
  margin-left: -20px;
}

.notfound .notfound-404 h1>span {
  text-shadow: -8px 0px 0px #fff;
}

.notfound h2 {
  font-family: 'Cabin', sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000;
  margin-top: 0px;
  margin-bottom: 25px;
}
